/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

.calculator{
  position: absolute;
  width: 600px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -300px;
  z-index: 15;
  background-color: rgb(214, 161, 69);
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: #6f00ff;
    padding: 1em 0;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    background: #5900cc;
}

header a.logo{
    font-weight: bold;
}

input {
  position: relative;
  display: inline;
  padding: 12px 20px;
  margin: 8px 0;
  position: relative;
  top: 15px;
  left: 30px;
  font-size: 14px;
}

input:focus {
  border: 3px solid #555;
}

.equals{
  position: relative;
  display: inline;
  left: 30px;
  top: 25px;
  margin: 15px 15px;
  padding: 20px 20px;
  font-size: 40px;
  font-weight: bold;
}

/* Dropdown Button */
.dropbtn {
    background-color: #E1C699;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;
  }
  
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  top: 40px;
  left: 55px;
  position: relative;
  display: inline-block;
}

.dropdown2 {
  top: 40px;
  left: 135px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

.calculate{
  position: relative;
  left: 100px;
  top: 40px;
  width: 105px;
  height: 50px;
  display: inline-block;
  font-size: 16px;
  background-color: rgb(214, 161, 69);
  color: white;
}

/* .curr1 {
  left: 50px;
}

.equals1 {
  left: 80px;
  top: 20px;
  position: relative;
  display: inline;
  font-size: 40px;
  font-weight: bold;
}

.curr2 {
  left: 100px;
}

.equals2 {
  left: 150px;
  top: 20px;
  position: relative;
  display: inline;
  font-size: 40px;
  font-weight: bold;
}

.curr3 {
  left: 220px;
  width: 100px;
}